body {
  margin: 0;
  background-color: #222222;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
}

#root {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.75vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(34, 34, 34);
  border-radius: 10rem;
}

html::-webkit-scrollbar-track {
  background-color: rgb(73, 73, 73);
  opacity: 20%;
}

p {
  color: white;
  font-size: 24pt;
}

a {
  color: rgb(241, 148, 17);
}

a:visited {
  color: rgb(207, 133, 28);
}

h1, #first {
  /* transition: ease all .4s .2s; */
  width: 100%;
}

h1 {
  color: white;
  font-size: 40pt;
  padding-top: 40vh;
  margin: 0;
  text-align: center;
}

#first {
  font-size: 60pt;
}

.bio {
  font-weight: 300;
  font-size: 10pt;
  text-align: center;
  margin: 20px;
  line-height: 30px;
}

.bio-container {
  height: 70vh;
}

.info-container {
  height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 0.2s;
}

.fadeInAnim {
  opacity: 1;
  transform: translateY(-20px);
}

h2 {
  color: rgb(20, 20, 20);
  font-size: 30pt;
  margin: 0;
}

.project-container {
  height: 100vh;
  position: relative;
  background-color: rgb(238, 238, 238);
  /* transition: all 1s, width 0s; */
}

/* .move-up {
  transform: translateY(-150px) rotate(5deg) translateX(-100px);
  width: 150vw;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.4);
} */

/* Going to tablet */
@media (min-width: 768px) {
  h1, #first {
    width: 0;
    margin-top: 35vh;
    font-size: 110pt;
  }

  .info {
    margin-left: 2rem;
  }
}

/* Going to laptop */
@media (min-width: 1200px) {
  h1, #first {
    width: 0;
    margin-top: 0vh;
    font-size: 110pt;
  }

  .info {
    margin-left: 2rem;
  }
}

/* Going to big desktop */
@media (min-width: 1920px) {
  h1, #first {
    width: 0;
    margin-top: 0vh;
    font-size: 110pt;
  }

  .bio {
    font-size: 12pt;
    width: 70rem;
    margin: auto;
  }

  .info-container {
    margin-left: 5rem;
  }
}