body {
  margin: 0;
  background-color: #222222;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#root {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.75vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(34, 34, 34);
  border-radius: 10rem;
}

html::-webkit-scrollbar-track {
  background-color: rgb(73, 73, 73);
  opacity: 20%;
}

p {
  color: white;
  font-size: 24pt;
}

a {
  color: rgb(241, 148, 17);
}

a:visited {
  color: rgb(207, 133, 28);
}

h1, #first {
  /* transition: ease all .4s .2s; */
  width: 100%;
}

h1 {
  color: white;
  font-size: 40pt;
  padding-top: 40vh;
  margin: 0;
  text-align: center;
}

#first {
  font-size: 60pt;
}

.bio {
  font-weight: 300;
  font-size: 10pt;
  text-align: center;
  margin: 20px;
  line-height: 30px;
  margin-top: 40vh;
}

.bio-container {
  height: 70vh;
}

.info-container {
  height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 0.2s;
}

.fadeInAnim {
  opacity: 1;
  transform: translateY(-20px);
}

h2 {
  color: rgb(20, 20, 20);
  font-size: 30pt;
  margin: 0;
}

/* .move-up {
  transform: translateY(-150px) rotate(5deg) translateX(-100px);
  width: 150vw;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.4);
} */

.project-container section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

#syntext-border {
  border: #E0CCCC 20px;
  border-style: solid none none none;
}

#m2-border {
  border: rgb(92, 92, 92) 20px;
  border-style: solid none none none;
}

.project-container nav img {
  height: 30px;
}

.project-container li {
  margin-bottom: 15px;
}

.project-container nav {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.project-container section>article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-container article>article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto 0 auto;
}

.project-container article>article>p {
  margin: auto;
}

.project-container h2 {
  font-size: 40pt;
  margin: 0 30px 0 30px;
}

.project-container article>p {
  font-size: 10pt;
  margin: 0 30px 0 30px;
  color: black;
}

.project-container ul {
  padding: 20px;
}

.project-container article article p {
  color: black;
  font-size: 12pt;
}

.project-container div {
  display: none;
  height: 100vh;
  /* width: 50%; */
  background-position: center;
  background-size: cover;
}

#syntext-logo {
  background-image: url("../public/mountain.jpg");
}

#m2-logo {
  background-image: url("../public/lake.jpg");
}

/* Going to tablet */
@media (min-width: 768px) {
  h1, #first {
    width: 0;
    margin-top: 35vh;
    font-size: 110pt;
  }

  .info {
    margin-left: 2rem;
  }
}

/* Going to laptop */
@media (min-width: 1200px) {
  #m2-border {
    border-style: none;
  }

  #syntext-border {
    border-style: none;
  }

  h1 {
    width: 0;
    margin-top: 0vh;
    margin-left: 1rem;
    font-size: 110pt;
    height: 80vh;
  }

  .bio {
    width: 40rem;
    margin: auto;
    font-size: 12pt
  }

  .project-container section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(250, 250, 250);
  }

  .project-container nav>img {
    height: 50px;
  }

  .project-container nav {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  .project-container section>article {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* .project-container {
    height: 200vh;
    background-color: red;
  } */

  .project-container article>article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto 0 auto;
  }

  .project-container p {
    color: black;
  }

  .project-container h2 {
    font-size: 40pt;
    margin: 0 30px 0 30px;
  }

  .project-container article p {
    font-size: 14pt;
    margin: 0 30px 0 30px;
  }

  .project-container article article p {
    color: black;
    font-size: 12pt;
  }

  .project-container div {
    height: 100vh;
    width: 50%;
    display: inherit;
    background-position: center;
    background-size: cover;
  }

  .info {
    margin-left: 2rem;
  }
}

/* Going to big desktop */
@media (min-width: 1920px) {
  h1, #first {
    width: 0;
    margin-top: 0vh;
    font-size: 110pt;
  }

  .bio {
    font-size: 12pt;
    width: 70rem;
    margin: auto;
  }

  .info-container {
    margin-left: 5rem;
  }
}